<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<http auto-config='true' use-expressions="true">
		<intercept-url pattern="/pages/template/**" access="permitAll" />
		<intercept-url pattern="/pages/index.jsp" access="permitAll" />
		<intercept-url pattern="/pages/action/loginMember.jsp" access="permitAll" />
		<intercept-url pattern="/initializeLoginMember.action" access="permitAll" />
		<intercept-url pattern="/loginMember.action" access="permitAll" />
		<intercept-url pattern="/initializeData.action" access="hasRole('ROLE_INITIALIZE')" />
		<intercept-url pattern="/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_HR', 'ROLE_TRAINER', 'ROLE_FIN', 'ROLE_NORMAL', 'ROLE_RESIGN', 'ROLE_RETIRE', 'ROLE_REMAIN', 'ROLE_RETURN')" />
		<form-login login-page="/pages/action/loginMember.jsp" authentication-failure-url="/pages/action/loginMember.jsp" />
	</http>
	
    <authentication-manager>
    	<authentication-provider user-service-ref="memberBo"></authentication-provider>
    </authentication-manager>
</beans:beans>
